In [2]:
"Life is too short, You need Python"
"a"
"123"

'123'

In [3]:
"Hello World"

'Hello World'

In [4]:
'Python is fun'

'Python is fun'

In [5]:
"""Life is too shrot, you need python"""

'Life is too shrot, you need python'

In [6]:
'''Life is too short, you need python'''

'Life is too short, you need python'

In [7]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [8]:
food = 'Python's favorite food is perl'
food

SyntaxError: invalid syntax (<ipython-input-8-505ab2258aa9>, line 1)

In [10]:
say = '"Python is very easy." he says'
print(say)

"Python is very easy." he says

In [12]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [14]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [15]:
multiline = '''
Life is too short
You nee python
'''
print(multiline)

Life is too short
You nee python

In [16]:
multiline = """
Life is too short
You nee python
"""
print(multiline)

Life is too short
You nee python

In [17]:
head = "Python"
tail = " is fun!!"
head + tail

'Python is fun!!'

In [18]:
a = "python"
a * 2

'pythonpython'

In [19]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [20]:
a = "Life is too shortZ"
len(a)

18

In [21]:
a ="Life is too short, You need Python"
print(a)

Life is too short, You need Python

In [22]:
a[3]

'e'

In [23]:
print(a[0])
print(a[12])
print(a[-1])

L
s
n

In [25]:
a[-0]

'L'

In [26]:
a[-2]

'o'

In [24]:
print(a[0:4])

Life

In [27]:
a[0:3]

'Lif'

In [29]:
a[19:]

'You need Python'

In [30]:
a[:]

'Life is too short, You need Python'

In [31]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rainy

In [33]:
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [35]:
a = "Pithon"
print(a[1])
a[1] = 'y'

i

TypeError: 'str' object does not support item assignment

In [37]:
"I eat %d apples" %3

'I eat 3 apples'

In [38]:
"I eat %s apples" %"Five"

'I eat Five apples'

In [39]:
number = 3
"I eat %d apples" %number

'I eat 3 apples'

In [40]:
"rate is %s" % 3.234

'rate is 3.234'

In [41]:
"Error is %d%%." %98

'Error is 98%.'

In [43]:
#Shift to Right
"%10s" %"Hi"

'        Hi'

In [44]:
"%-10sjane" %"hi"

'hi        jane'

In [46]:
"%0.4f" %3.42134234

'3.4213'

In [45]:
"%10.4f" %3.42143234

'    3.4214'

In [48]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [49]:
"I eat {0} apples".format("five")

'I eat five apples'

In [50]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

In [61]:
a = 1
b = "three"

In [62]:
"I ate {0} apples {1} times".format(a,b)

'I ate 1 apples three times'

In [91]:
"I ate {first} apples {second} times".format(first=b,second=a)

'I ate three apples 1 times'

In [92]:
"I ate {0} apples {second} times".format(b,second=a)

'I ate three apples 1 times'

In [93]:
# Stick it to Left
"{0:<10}".format("hi")

'hi        '

In [96]:
# Stick it to Right
"{0:>10}".format("hi")

'        hi'

In [99]:
# In the middle
"{0:^10}".format("hi")

'    hi    '

In [101]:
# Add multiple character
"{0:=^10}".format("hi")

'====hi===='

In [104]:
# Add multiple character
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [106]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [109]:
"{0:10.4f}".format(y)

'    3.4213'

In [111]:
"{{and}}".format()

'{and}'

In [112]:
name = "John"
age = 30
f'My Name is {name}. I am {age} years old.'

'My Name is John. I am 30 years old.'

In [114]:
a = "hobby"
a.count('b')

2

In [116]:
a = "Python is the best choice"
a.find('b')

14

In [118]:
a.find('k')

-1

In [120]:
a = "Life is too short"
a.index('t')

8

In [122]:
a.index('k')

ValueError: substring not found

In [124]:
','.join(['a','b','c','d'])

'a,b,c,d'

In [126]:
a = "hi"
a.upper()

'HI'

In [129]:
a = "HI"
a.lower()

'hi'

In [132]:
# remove left space
a = " hi "
a.lstrip()

'hi '

In [134]:
# remove right space
a.rstrip()

' hi'

In [136]:
a = " hi "
a.strip()

'hi'

In [138]:
a = "Life is too short"
a.replace("Life", "Your Leg")

'Your Leg is too short'

In [140]:
a.split()

['Life', 'is', 'too', 'short']

In [141]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']